/* markdown.css */

.markdown h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.25rem;
    margin-bottom: 4px;
}

.markdown h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    color: #f3f4f6;
    margin-bottom: 4px;
}

.markdown h3 {
    font-size: 1.25rem;
    font-weight: semi-bold;
    line-height: 1.75rem;
    color: #f3f4f6;
    margin-bottom: 2px;
}

.markdown a {
    color: #30af7e;
    text-decoration: underline;
}

.markdown p {
    margin-bottom: 1rem;
    color: #d1d5db;
}

.markdown ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    color:#d1d5db;
}

.markdown ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
}

.markdown blockquote {
    border-left: 4px solid #d1d5db;
    padding-left: 1rem;
    font-style: italic;
}

.markdown code {
    background-color: #f3f4f6;
    color: #e11d48;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
}
